USE [RecipesDemoDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_search_recipes]    Script Date: 8/19/2025 4:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXEC dbo.sp_search_recipes 'Do you have an asian sweet and sour chicken recipe?';

EXEC dbo.sp_search_recipes 'Do you have an asian sweet and sour chicken recipe that can be cooked in under an hour?';
*/

ALTER   PROCEDURE [dbo].[sp_search_recipes] (
    @my_query NVARCHAR(MAX) = N'Give me some cold salad recipes with cucumbers and tomatoes.',
    @debug BIT = 0
)
AS
BEGIN
SET NOCOUNT ON
    -----------------------------------------------------------------------------
    -- AYun Note:
    --
    -- This stored procedure was originally created via Gemini AI, with minor
    -- modifications by myself thereafter.
    --
    -- FWIW, it did a decent job.  It only took 3 error correction iterations
    -- before it worked properly.
    -----------------------------------------------------------------------------

    -- ##########################################################################
    -- # T-SQL Code: Constructing JSON Payload for Ollama LLM
    -- ##########################################################################

    -- Assume sp_invoke_external_rest_endpoint is already enabled and configured.
    -- IMPORTANT NOTE ON HTTPS:
    -- sp_invoke_external_rest_endpoint requires HTTPS.[1, 2]
    -- Ollama typically runs on HTTP (e.g., http://localhost:11434).[3, 4, 5]
    -- For a local Ollama setup, a local reverse proxy (e.g., Nginx, Caddy) configured with a self-signed
    -- SSL certificate trusted by SQL Server, forwarding to Ollama's HTTP endpoint, is required.
    -- Replace 'https://localhost:11434/api/chat' with your proxy's HTTPS URL.


    -- 1. Initialize temporary table and natural language query variable
    -- This simulates the output from your SQL Server vector search.
    CREATE TABLE #tmp_search_recipes_ann_output (
	    recipe_id INT,
	    name NVARCHAR(150),
	    description NVARCHAR(MAX),
	    ingredients NVARCHAR(4000),
	    ingredients_raw NVARCHAR(4000),
	    steps NVARCHAR(MAX),
	    servings NVARCHAR(4000),
	    serving_size NVARCHAR(250),
	    tags NVARCHAR(4000),
	    distance DECIMAL(28,14),
        source_vector VARCHAR(50),
	    search_type VARCHAR(50)
    )

    -----
    -- Call my stored procedure to execute an ANN search
    INSERT INTO #tmp_search_recipes_ann_output
    EXEC dbo.sp_search_recipes_ann @my_query;


    -- Declare variables for Ollama API interaction
    DECLARE @OllamaApiUrl NVARCHAR(4000) = N'https://192.168.1.160/api/chat'; -- Adjust if your Ollama is proxied differently
    DECLARE @OllamaModel NVARCHAR(255) = N'llama3.2'; -- Specify your desired Ollama model (e.g., 'mistral', 'llama2')
    DECLARE @RequestPayload NVARCHAR(MAX);
    DECLARE @Response NVARCHAR(MAX);
    DECLARE @HumanFriendlyOutput NVARCHAR(MAX);
    DECLARE @Headers NVARCHAR(4000) = N'{"Content-Type":"application/json"}';

    -- 2. Convert #tmpVectorSearchResults to JSON array
    -- The FOR JSON PATH clause transforms the tabular data into a JSON array of objects.
    -- Each row becomes a JSON object, and columns become properties within that object.[6]
    DECLARE @ContextJson NVARCHAR(MAX);
    SET @ContextJson = (
        SELECT
            recipe_id,
            name AS [recipe name],
            description AS [recipe description],
            tags AS [recipe descriptor tags],
            distance AS [relevance score]
        FROM #tmp_search_recipes_ann_output
        FOR JSON PATH -- [6]
    );

    -- Print the generated JSON context for verification
    IF @debug = 1
    BEGIN
        PRINT '--- Generated SQL Results JSON Context ---';
        PRINT @ContextJson;
        PRINT '------------------------------------------';
    END

    -- 3. Construct the JSON payload for the Ollama Chat Completion API
    -- This includes the model, a system message for guidance, and a user message
    -- containing the original query and the JSON-formatted search results as context.

    -- First, construct the 'messages' array as a separate JSON string.
    -- This array will contain the system message and the user message with context.
    DECLARE @MessagesJson NVARCHAR(MAX);
    WITH ChatPrompts AS (
        SELECT
            'system' AS role,
            N'You are a helpful cooking assistant that summarizes recipe search results based user queries from a recipes database. Provide a summary of resulting recipes based on the user query' AS content
        UNION ALL
        SELECT
            'user' AS role,
            CONCAT(
                N'Here is my query: ', @my_query,
                N'\n\nHere are the relevant search results:\n', @ContextJson
            ) AS content
    )
    SELECT @MessagesJson = (
        SELECT 
            role, 
            content 
        FROM ChatPrompts 
        FOR JSON PATH
    ); -- [7][8]


    -- Print the generated messages JSON for verification
    IF @debug = 1
    BEGIN
        PRINT '--- Generated Messages JSON ---';
        PRINT @MessagesJson;
        PRINT '-------------------------------';
    END

    -- Now, construct the full Ollama API request payload step-by-step.
    -- This avoids deeply nested JSON_MODIFY calls, which can sometimes be tricky to debug.
    SET @RequestPayload = N'{}'; -- Start with an empty JSON object

    -- Add the 'model' property
    SET @RequestPayload = JSON_MODIFY(@RequestPayload, '$.model', @OllamaModel); -- [7]

    -- Add the 'stream' property
    SET @RequestPayload = JSON_MODIFY(@RequestPayload, '$.stream', CAST('false' AS BIT)); -- [7]

    -- Add the 'messages' array using JSON_QUERY to insert the pre-built @MessagesJson
    SET @RequestPayload = JSON_MODIFY(@RequestPayload, '$.messages', JSON_QUERY(@MessagesJson)); -- [7]

    -- Print the full Ollama API request payload for debugging
    IF @debug = 1
    BEGIN
        PRINT '--- Ollama API Request Payload ---';
        PRINT @RequestPayload;
        PRINT '----------------------------------';
    END

    -- 4. Invoke the Ollama LLM via sp_invoke_external_rest_endpoint
    -- This part sends the constructed JSON payload to the Ollama API.
    BEGIN TRY
        IF @debug = 1
        BEGIN
            PRINT '--- Invoking Ollama API... ---';
        END
        EXEC sp_invoke_external_rest_endpoint
            @url = @OllamaApiUrl,
            @method = N'POST',
            @headers = @Headers,
            @payload = @RequestPayload,
            @response = @Response OUTPUT,
            @timeout = 120; -- Set a generous timeout for LLM inference [2]

        IF @debug = 1
        BEGIN
            PRINT '--- Raw Ollama API Response Received ---';
            PRINT @Response;
            PRINT '----------------------------------------';
        END

        -- 5. Process the LLM's Human-Friendly Output
        -- Extract the 'content' field from the Ollama JSON response using JSON_VALUE.[7]
        IF ISJSON(@Response) = 1
        BEGIN
            SET @HumanFriendlyOutput = JSON_VALUE(@Response, '$.result.message.content');

            IF @HumanFriendlyOutput IS NOT NULL
            BEGIN
                --PRINT ''
                --PRINT ''
                --PRINT '--- Human-Friendly Output from Ollama LLM ---';
                PRINT @HumanFriendlyOutput;
                --PRINT '---------------------------------------------';
            END
            ELSE
            BEGIN
                PRINT 'Error: Could not extract human-friendly output from Ollama response.';
                PRINT 'Response structure might be unexpected or ".result.message.content" is missing.';
            END
        END
        ELSE
        BEGIN
            PRINT 'Error: Ollama API response is not valid JSON.';
            PRINT 'Raw Response: ' + ISNULL(@Response, 'NULL');
        END

    END TRY
    BEGIN CATCH
        -- Log detailed error information if the API call fails
        PRINT 'An error occurred during the Ollama API call: ' + ERROR_MESSAGE();
        -- Example of logging to an error table (create this table if needed)
        -- INSERT INTO ErrorLog (ErrorTime, ErrorMessage, ErrorProcedure, ErrorLine, RequestPayload, ApiResponse)
        -- VALUES (GETDATE(), ERROR_MESSAGE(), ERROR_PROCEDURE(), ERROR_LINE(), @RequestPayload, @Response);
    END CATCH;

END